@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 12px;
  line-height: 14px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  position: relative;
  margin-bottom: 60px;
}

.title:before {
  position: absolute;
  content: "";
  top: -46px;
  left: 0;
  background: #c8a35f;
  width: 90px;
  height: 6px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-top {
  background: #C8A35F;
  padding: 16px 0;
}

.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

.header-top__link {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.header-top__link--active {
  color: white;
}

.header-top__tel {
  text-transform: uppercase;
  color: white;
}

.header-top__email {
  color: white;
}

.header-nav {
  padding: 27px 0;
  background: #2F343A;
}

.header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-nav__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 14px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #fff;
  padding-left: 32px;
  position: relative;
  margin: 0 auto 0 30px;
}

.header-nav__location::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 46px;
  width: 1px;
  background: #f2f2f2;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}

.header-nav__list li a {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header-nav__list li a:hover {
  color: #C8A35F;
}

.hero {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75))), url("../img/hero/bg.jpg") center center no-repeat;
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75), rgba(47, 52, 58, 0.75)), url("../img/hero/bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 155px 0 50px;
}

.hero__box {
  max-width: 920px;
  width: 100%;
  border: 1px solid #C8A35F;
  margin: 0 auto 140px;
  padding: 45px 70px;
  text-align: center;
}

.hero__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 45px;
}

.hero__text {
  font-size: 18px;
  line-height: 28px;
  color: white;
}

.hero__mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.all-services {
  padding: 166px 0 129px;
  background: #393f47;
  position: relative;
}

.all-services::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #2F343A;
  height: 100%;
  width: 410px;
}

.all-services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all-services__info {
  max-width: 445px;
  width: 100%;
}

.all-services__text {
  max-width: 350px;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 50px;
}

.all-services__more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #C8A35F;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding: 18px 48px;
}

.all-services__slider {
  max-width: 633px;
}

.all-services__img {
  width: 445px;
  height: 266px;
  -o-object-fit: cover;
     object-fit: cover;
}

.all-services .slick-arrow {
  position: absolute;
  z-index: 10;
  right: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c8a35f;
}

.all-services .slick-prev.slick-arrow {
  right: 131px;
}

.all-services .slick-prev.slick-arrow:before {
  position: absolute;
  content: "";
  background: url("../img/icons/prev.svg") center center no-repeat;
  width: 65px;
  height: 20px;
  right: -125px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.all-services .slick-next.slick-arrow:before {
  position: absolute;
  content: "";
  background: url("../img/icons/next.svg") center center no-repeat;
  width: 65px;
  height: 20px;
  right: 125px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services {
  padding: 166px 0 0px;
  background: #2F343A;
}

.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.services__item {
  background: #393f47;
  min-height: 180px;
}

.services__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px 0;
  padding-bottom: 35px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.services__link:hover {
  background: #c8a35f;
}

.services__link:hover .services__img {
  background: #fff;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.services__link:hover .services__img path {
  fill: #2f343a;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.services__img {
  margin-top: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.services__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
}

.about {
  padding: 200px 0 200px;
  background: #2F343A;
  position: relative;
}

.about::after {
  position: absolute;
  content: "";
  width: 410px;
  height: 482px;
  background: #393f47;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.about__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 500px) minmax(100px, 300px) minmax(100px, 300px);
      grid-template-columns: minmax(100px, 500px) minmax(100px, 300px) minmax(100px, 300px);
  -ms-grid-rows: minmax(100px, 83px) minmax(100px, 200px);
      grid-template-rows: minmax(100px, 83px) minmax(100px, 200px);
  gap: 30px 0;
  position: relative;
  z-index: 2;
}

.about__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  justify-self: flex-start;
}

.about__text {
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  width: 100%;
  max-width: 445px;
}

.about__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
      grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
}

.about__item {
  background: #fff;
  border: 0.25px solid #c8a35f;
  min-height: 160px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.about__item:nth-child(4) {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.about__item:nth-child(5) {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
}

.about__item:hover img {
  scale: 1.1;
}

.about__item img {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__num {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2f343a;
}

.about__name {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #000;
}

.about__span {
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

.map {
  min-height: 450px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(57, 63, 71, 0.6)), to(rgba(57, 63, 71, 0.6))), url("../img/maps.jpg") center center no-repeat;
  background: linear-gradient(0deg, rgba(57, 63, 71, 0.6), rgba(57, 63, 71, 0.6)), url("../img/maps.jpg") center center no-repeat;
}

.footer {
  padding: 60px 0 55px;
  background: #C8A35F;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px 0;
}

.footer__item:nth-child(2) {
  margin: 0 auto 0 30px;
}

.footer__item:nth-child(3) {
  margin: 0 auto;
}

.footer__item:nth-child(4) {
  margin: 0 24px 0 auto;
}

.footer__address {
  font-size: 14px;
  line-height: 16px;
  color: rgba(242, 242, 242, 0.8);
}

.footer__mail {
  font-size: 14px;
  line-height: 16px;
  color: #2f343a;
}

.footer__tel {
  font-size: 14px;
  line-height: 16px;
  color: #f2f2f2;
}

.footer__dev {
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2f343a;
}
/*# sourceMappingURL=style.css.map */