@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "vars";
@import "reset";
@import "global";
.header{
  position: sticky;
  top: 0;
  z-index: 999;
}
.header-top {
  background: $gold-color;
  padding: 16px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__lang {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  &__link {
    color: rgba($white-color, 0.5);
    text-transform: uppercase;
  }
  &__link--active {
    color: rgba($white-color, 1);
  }
  &__tel {
    text-transform: uppercase;
    color: rgba($white-color, 1);
  }
  &__email {
    color: rgba($white-color, 1);
  }
}
.header-nav {
  padding: 27px 0;
  background: $dark-color;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: inline-flex;
  }
  &__location {
    display: flex;
    align-items: center;
    gap: 0 14px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: $white-color;
    padding-left: 32px;
    position: relative;
    margin: 0 auto 0 30px;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 46px;
      width: 1px;
      background: #f2f2f2;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 0 30px;
    li {
      a {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $white-color;
        transition: all .5s;
        &:hover{
          color: $gold-color;
        }
      }
    }
  }
}
.hero {
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75), rgba(47, 52, 58, 0.75)),
    url("../img/hero/bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 155px 0 50px;
  &__box {
    max-width: 920px;
    width: 100%;
    border: 1px solid $gold-color;
    margin: 0 auto 140px;
    padding: 45px 70px;
    text-align: center;
  }
  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba($white-color, 1);
    margin-bottom: 45px;
  }
  &__text {
    font-size: 18px;
    line-height: 28px;
    color: rgba($white-color, 1);
  }
  &__mouse {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
  }
}
.all-services {
  padding: 166px 0 129px;
  background: #393f47;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $dark-color;
    height: 100%;
    width: 410px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 445px;
    width: 100%;
  }
  &__text {
    max-width: 350px;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 50px;
  }
  &__more {
    display: inline-flex;
    background: $gold-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 48px;
  }
  &__slider {
    // background: palevioletred;
    max-width: 633px;
  }
  &__img {
    width: 445px;
    height: 266px;
    object-fit: cover;
  }
  .slick-arrow {
    position: absolute;
    z-index: 10;
    right: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #c8a35f;
  }
  .slick-prev.slick-arrow {
    right: 131px;
    &:before {
      position: absolute;
      content: "";
      background: url("../img/icons/prev.svg") center center no-repeat;
      width: 65px;
      height: 20px;
      right: -125px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .slick-next.slick-arrow {
    &:before {
      position: absolute;
      content: "";
      background: url("../img/icons/next.svg") center center no-repeat;
      width: 65px;
      height: 20px;
      right: 125px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.services {
  padding: 166px 0 0px;
  background: $dark-color;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &__item {
    background: #393f47;
    min-height: 180px;
  }
  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px 0;
    padding-bottom: 35px;
    transition: 0.6s ease;
    &:hover {
      background: #c8a35f;
      .services__img {
        background: #fff;
        transition: 0.6s ease;
        path {
          fill: #2f343a;
          transition: 0.6s ease;
        }
      }
    }
  }
  &__img {
    margin-top: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  &__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba($white-color, 1);
  }
}
.about {
  padding: 200px 0 200px;
  background: $dark-color;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 410px;
    height: 482px;
    background: #393f47;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &__inner {
    display: grid;
    grid-template-columns: minmax(100px, 500px) minmax(100px, 300px) minmax(100px, 300px);
    grid-template-rows: minmax(100px, 83px) minmax(100px, 200px);
    gap: 30px 0;
    position: relative;
    z-index: 2;
  }
  &__title {
    grid-column: 1 / 2;
    margin: 0;
    // background: purple;
    align-self: end;
    justify-self: flex-start;
  }
  &__text {
    font-size: 16px;
    line-height: 23px;
    color: #fff;
    grid-column: 1 / 2;
    width: 100%;
    max-width: 445px;
    // background: darkolivegreen;
  }
  &__content {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
  }
  &__item {
    background: #fff;
    border: 0.25px solid #c8a35f;
    min-height: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:nth-child(4) {
      grid-column: 3 / 3;
      grid-row: 1 / 1;
    }
    &:nth-child(5) {
      grid-column: 1 / 1;
      grid-row: 2 / 2;
    }
    &:hover {
      img {
        scale: 1.1;
      }
    }
    img {
      transition: 0.6s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__num {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2f343a;
  }
  &__name {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000;
  }
  &__span {
    font-size: 12px;
    line-height: 14px;
    color: #000;
  }
}
.map {
  min-height: 450px;
  background: linear-gradient(0deg, rgba(57, 63, 71, 0.6), rgba(57, 63, 71, 0.6)),
    url("../img/maps.jpg") center center no-repeat;
}
.footer {
  padding: 60px 0 55px;
  background: $gold-color;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    &:nth-child(2) {
      margin: 0 auto 0 30px;
    }
    &:nth-child(3) {
      margin: 0 auto;
    }
    &:nth-child(4) {
      margin: 0 24px 0 auto;
    }
  }
  &__address {
    font-size: 14px;
    line-height: 16px;
    color: rgba(#f2f2f2, 0.8);
  }
  &__mail {
    font-size: 14px;
    line-height: 16px;
    color: #2f343a;
  }
  &__tel {
    font-size: 14px;
    line-height: 16px;
    color: rgba(#f2f2f2, 1);
  }
  &__dev {
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #2f343a;
  }
}
@import "media";
